*{
    margin:0; 
    padding:0
}
body{
    background:url(images/site_bg.png) top center no-repeat fixed #000;
    font-family:Arial; 
    font-size:12px; 
    line-height:13px;  
    color: #333;

    }
#main_container{
    width: 940px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
}
a{
    text-decoration: none;
}
.top_header{
    position: fixed;
    right: 0;
    left: 0;
    top: 0%;
    z-index: 1030;
    margin-bottom: 0;    
}
.topnav{
    padding: 0;
    border-bottom: 1px solid #CCC;
    background: #f2f2f2;
    box-shadow: 0 0 3px #B1AFAF;
}
.topnav a {
    color: #333;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    padding: 8px 4px;
}
.topnav a:hover, .topnav a.active {
    color: #fff;
    background: #f89406;
    text-decoration: none;
}
.container{
    margin-right: auto;
    margin-left: auto;
}
.right_links{
    text-align: right;
}
.left_links{
    float: left;
}
.left_links a{
    width: auto;
    height: 24px;
    line-height: 24px;  
    padding: 1px;
    border-radius: 7%;
    margin-top: 1px;
    margin-left: 1%;
    font-size: 14px;    
    background: #999;
    color: #fff;
    
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
#header{
    padding:44px 0px 8px;
    
}

.logo{
    width: 300px;
    float: left;
    min-height: 1px;
    margin-left: 20px;  
    padding-top: 11px;
    display: block;
   
}
.logo img{
    
        width: auto;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border: 0;
}
.banner {
    width: 300px;
    float: left;
    min-height: 1px;
    margin-left: 20px;    
    font-size: 14px;       
    border: 1px dashed rgb(252, 111, 0);   
    color: #fc6f00;
    
}
.banner:hover {
    border: 1px dashed #fff;
    color: #fff;
    background: rgb(252, 111, 0);
}

.tel{
    width: 300px;
    float: left;
    text-align: right;
    min-height: 1px;
    margin-left: 20px;
}
#header h1 .banner{
    margin: 0;
    line-height: 1.5em;
}
#header p {
    padding: 0;
    margin: 0;
    line-height: 1em;
    font-size: 100%;
}


.menu_bar{
    position: relative;    
    margin-bottom: 20px;
    
    
}
.menu_container{
    padding-left: 0;
    padding-right: 0;
    min-height: 40px;
    background-color: #141313;
    border-radius: 4px;
}
.nav{
    width: auto;
    margin-right: auto;
    margin-bottom: 15px;
    
}
.nav  a{

    padding: 8px 10px;
}
ul li{
     
    display: inline-block; 
}
ul li a{
    line-height: 30px; 
    padding-left: 10px ;
    color: #f7f3f3;    
    text-shadow: 0 1px 0 #ffffff;
    
   
}
ul li a:hover {
    color: #eee5e5;    
    text-decoration: none;
    background-color: #f89406
}
.top_search{
    margin-left: 8px;
    position: relative;
    float: left;
    
}
.search{
    padding: 4px 18px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 7px;
    line-height: 2px;
    min-width: 370px;  
    margin-top: 4px;
}
.menu_left{
    float: left;
    margin-left:3px;
}
.menu-right{
    float: right;
    margin-right: 5px;
   
}
.main{
    position: relative;
   

}
.login-menu form{
    position: absolute;
    visibility: hidden;
}

.login_menu{
    right: 0;
    left: auto;
    border-radius: 0;
    border-color: #ccc;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
}

.main_content{
    width:700px;
    float: left;
    min-height: 1px;
    margin-left: 20px;
}
.left_side{
    width: 220px;
    float: left;
    min-height: 1px;
    
}
.category{
    min-height: 20px;
    padding: 9px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 9px;

}
.left_side ul li a{
    color: #000;
    padding: 3px 15px;    
    display: block;
}

.left_side li a:hover,.left_side li a:focus{
    text-decoration: none;
    background-color: #eeeeee;
    color: #f89406;
    
}
.cat_list li{
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
}
.left_side .discount{
    padding: 8px;
    text-align: center;
}
.discount h2{
    color: #c09853;
    
}
.discount p{
    margin: 0 0 10px;
    color: #c09853;
    margin-top:2px;
}
.discount_btn{
    min-height: 34px;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    padding: 0 12px;
    color: #666;
    text-decoration: none;
    background: #e6e6e6;
    border: 0;
}
.discount{
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;    
    line-height: 21px;
}
.shop_button{
    min-height: 34px;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background: #f89406;
    display: block;
    padding: 0 12px;
    border: 0;
}
.shop_button:hover {
    color: #fff;
    text-decoration: none;
    background: #F86706;
}
.promo{
    background: #fff;
    position: relative;
    display: block;
    padding: 8px;
    line-height: 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    
}

.promo img{
    
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.promo .caption {
    padding: 9px;
    color: #555555;
    background: #F3F2F2;
}
.caption  h4 {
    margin: 0;
    line-height: 1.5em;
    padding: 0 13px;
    display: inline-block;
}
.promo_button{
    min-height: 34px;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    padding: 0 12px;
    color: #666;
    text-decoration: none;
    background: #e6e6e6;
    border: 0;
}
.p-right{
    float: right;
}
.nav_structure{
    padding: 8px 15px;
    margin: 0 0 20px;
    list-style: none;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 7px;
    }
.nav_structure li{
    display: inline-block;
    text-shadow: 0 1px 0 #ffffff;
}
.nav_structure li a{
    color: #0088cc;
    text-decoration: none;
}
.nav_structure  .active {
    color: #999999;
}
.content h3{
    font-size: 18px;
    line-height: 1.5em;
}
.content hr{
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
}
.login_side{
    width: 300px;
    float: left;
    min-height: 1px;
    margin-left: 20px;
}
.login_section{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.login_section h5{
    font-size: 14px;
}
.login_section form{
    margin: 0 0 20px;
}
.field{
    margin-bottom: 10px;
}
.label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.input{
    width: 206px;   
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 5px;
    border: 1px solid #dad3d3;
}
.block{
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc; 
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);    
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.register_side{
    width: 300px;
    float: left;
    min-height: 1px;
    margin-left: 50px;
}
.register_section{
    
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    
}
.register_section h5{
    font-size: 14px;
    margin-bottom: 10px;
}
.register_section form{
    margin: 0 0 20px;
}
.register_section button{
    min-height: 34px;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    padding: 0 12px;
    color: #666;
    text-decoration: none;
    background: #e6e6e6;
    border: 0;
    margin-bottom: 15%;
}
.register_section button:hover {
    color: #fff;
    text-decoration: none;
    background: #333;
}
.register_section a{
    color: #0088cc;
    text-decoration: none;
    margin-left: 6px;
}
#footer {
    background-color: #222;
    color: #eee;
    padding: 28px 8px 18px;
    margin-top: 18px;
    clear: both;
}
.top_footer{
    color: #eee;
    width: 100%;
}
.footer_section{
    display: block;
    float: left;
    width: 14%;
    min-height: 30px;
    line-height: 18px;
}
.footer_section h5{
    font-size: 14px;
}
.footer_section a{
    color: #bbb;
    font-size: 12px;
}
.footer_hist{
    width: 48%;
    display: block;
    float: left;
    min-height: 30px;
    margin-left: 2%;
}
.footer_hist h5{
    font-size: 14px;
}
.copyright {
    clear: both;
    padding: 8px;
    color: #000;
    border-top: 1px solid #CCC;
    font-size: 13px;
    background: #f2f2f2;
    box-shadow: 0 0 3px #B1AFAF;
}
.footer-right{
    margin: 0 0 10px;
    float: right;
}