<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mr Steve Fast Food | Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css" media="screen"/>
    <link rel="stylesheet" href="main.css" media="screen"/>
  </head>
  <body>
        <div class="top_header">
            <div class="topnav">
                <div class="container">
                    <div class="right_links">
                        <div class="left_links">
                            <a href="#"><span class="icon_t">t</span></a>
                            <a href="#"><span class="icon_f">f</span></a>
                            <a href="#"><span class="icon_in">in</span></a>
                                              
                        </div>
                        <a class="active" href="index.html"> <span class="top_links"></span> Home</a> 
                        <a href="#"><span class="top_links"></span> My Account</a> 
                        <a href="#"><span class="top_links"></span> Free Registration </a> 
                        <a href="#"><span class="top_links"></span> Contact us</a>
                       
                    </div>                    
                </div>
            </div>
        </div>
        <div id="main_container">
            <header id="header">
                <div class="header_container">
                    <div class="logo"><img src="images/logo.png" /></div>
                    <div class="banner">
                        <h4>Special Offers Now Available this Month</h4>
                        <p>50% Discount on all orders before midday</p>
                    </div>
                    <div class="tel"><p>Support (24/7) </p><span>Tel: +256 772 234 678</span><br><span>Email:Info@stevefastfood.com</span></div>
                </div>
            </header>
            <div class="menu_bar">
                <div class="menu_container">
                    <div class="nav">
                        <div class="menu">
                            <ul class="menu_left">
                                <li class=""><a href="index.html">Home</a></li>
                                <li class=""><a href="#">List</a></li>
                                <li class=""><a href="#">Specail Offers</a></li>
                                <li class=""><a href="#">Contact us</a></li>
                                <li class=""><a href="#">My Account</a></li>
                                <li class=""><a href="#">About us</a></li>
                             </ul>
                            <form action="#" class="top_search" method="GET">
                            <input type="text" placeholder="Search" class="search">
                            </form>
                            <ul class="menu-right">
                                <li class="main">
                                    <a  class="" href="#">Logout<b class="hint"></b></a>
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left_side">
                <div class="category">
                    <ul class="cat_list">
                        <h3>MY ORDERS</h3>
                        <li><a href="#"><span class="icon_cat"></span>All </a></li>
                        <li><a href="#"><span class="icon_cat"></span>Pending Orders(0)</a></li>
                        <li><a href="#"><span class="icon_cat"></span>Order Now</a></li>
                        <h3>MESSAGES</h3>
                        <li><a href="#"><span class="icon_cat"></span>Inbox(0)</a></li>
                        <li><a href="#"><span class="icon_cat"></span>Sent</a></li>
                        <li><a href="#"><span class="icon_cat"></span>Compose</a></li> 
                                                       
                    </ul>                    
                </div>
            </div>
            <div class="main_content">
                    <div class="content">
                        <ul class="nav_structure">
                            <li><a href="index.html">Home</a></li> |
                            <li class="active">My Orders</li>
                        </ul>
                        <div class="table">
                                <table >
                                    <tr >
                                        <th width="13"><input type="checkbox" class="checkbox" /></th>								
                                        <th>Item ordered</th>
                                        <th>Date Sent</th>
                                        <th>Time Sent</th>
                                        <th>Status</th>
                                        <th width="110" class="ac">Content Control</th>
                                    </tr>
                                    
                                    <tr class="request_lis">
                                        <td><input type="checkbox" class="checkbox" /></td>
                                        <td><a href="#">sea food</a></td>
                                        <td><a href="#"></a>09/15/2018</td>
                                        <td><a href="#"></a>12:20am</td>
                                        <td><a href="#"></a>Pending</td>
                                        <td class="icon_del"><a href="" >View</a> | <a href="" >Re-order</a></td>
                                    </tr>
                                    
                                </table>
                                
                                
                                <!-- Pagging -->
                                <div class="pagging">
                                    <div class="AlignLeftt">Showing 1-1 of 20</div>
                                    <div class="AlignRight">
                                        <a href="#">Previous</a>
                                        <a href="#">1</a>
                                        <a href="#">2</a>
                                        <a href="#">3</a>
                                        <a href="#">4</a>
                                        <a href="#">245</a>
                                        <span>...</span>
                                        <a href="#">Next</a>
                                        <a href="#">View all</a>
                                    </div>
                                </div>
                                <!-- End Pagging -->
                                
                            </div>
                    </div>
                   
            </div>
            <div id="footer">
                <div class="top_footer">
                    <div class="footer_section">
                        <h5>Location</h5>                               
                        <a href="#">ADDRESSES</a><br>                                
                        <a href="#">COUNTRY CODE</a><br>
                    </div>
                    <div class="footer_section">
                        <h5>Information</h5>                                                        
                        <a href="#">LEGAL NOTICE</a><br>
                        <a href="#">TERMS AND CONDITIONS</a><br>
                        <a href="#">ABOUT US</a><br>
                    </div>
                    <div class="footer_section">
                        <h5>Offer</h5>
                        <a href="#">NEW PRODUCTS</a> <br>
                        <a href="#">TOP SELLERS</a><br>
                        <a href="#">SPECIALS</a><br>                                
                    </div>
                    <div class="footer_hist">
                        <h5>Our History</h5>
                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for
                        those interested. Sections 1.10.32 and 1.10.33 from  by H. Rackham.
                    </div>
                </div>
                <div class="copyright">
                    <p class="footer-right">
                        Dveloped by:Venviko
                    </p>
                    <span>Copyright &copy; 2018. Mr steve's Fast Food Ltd</span>                    
                    
                </div>
            </div>